.search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.selected-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filter-tag {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.filter-tag button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  color: #777;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.search-input-container {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.search-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.search-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  background-color: #007bff;
  padding: 5px;
}

.filter-button {
  margin-left: 10px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 600px;
}

.filter-option-pair {
  display: flex;
  gap: 20px;
  width: 100%;
}

.filter-option {
  flex: 1;
}

.filter-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
}

.filter-list-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.filter-list-item:hover {
  background-color: #f0f0f0;
}

.sort-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.sort-button {
  padding: 8px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.sort-button.active {
  background-color: #0056b3;
}

.sort-button:hover {
  background-color: #0056b3;
}

.results-list {
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  margin-top: 5px; /* Closer to search bar */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s;
}

.result-item:hover {
  background: #f0f0f0;
}