@property --color-primary {
  syntax: '<color>';
  inherits: false;
  initial-value: #13293D;
}

@property --color-secondary {
  syntax: '<color>';
  inherits: false;
  initial-value: #006494;
}

@property --color-tertiary {
  syntax: '<color>';
  inherits: false;
  initial-value: #247BA0;
}

@property --color-text-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #E8F1F2;
}

@property --color-text-dark {
  syntax: '<color>';
  inherits: false;
  initial-value: #050a0f;
}

.page {
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  width: 100%;
}